.button {
  .sapMBtnInner {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: $blue;
    border: 0;
    border-radius: 24px;
  }

  .sapMBtn:focus > .sapMFocusable {
    outline: 0;
  }

  &.sapMBtn:hover > .sapMBtnHoverable {
    background-color: $blue-link-hover;
  }

  .sapMBtnIcon {
    &.sapMImg {
      height: auto;
    }
  }
}
