.link {
  &.sapMLnk {
    color: $text-color;
    font-family: "Intro Book";
    font-size: 16px;

    &:hover:not(.sapMLnkDsbl) {
      color: $link-hover;
      text-decoration: none !important;
    }

    &:focus:not(.sapMLnkDsbl) {
      color: $text-color;
      text-decoration: none !important;
    }
  }

  &.sapMLnk:not(.sapMLnkDsbl) {
    text-shadow: none;
  }

  &_blue {
    &.sapMLnk {
      font-family: "Intro";
      font-size: 18px;
      line-height: 24px;
      color: $blue;

      &:hover:not(.sapMLnkDsbl) {
        color: $blue-link-hover;
        text-decoration: none !important;
      }
    }
  }
}
