.link {
    &.sapMLnk {
        color: $text-color;
        font-family: "Intro Book";
        font-size: 16px;

        &:hover:not(.sapMLnkDsbl) {
            color: $link-hover;
            text-decoration: none !important;
        }

        &:focus:not(.sapMLnkDsbl) {
            color: $text-color;
            text-decoration: none !important;
        }
    }

    &.sapMLnk:not(.sapMLnkDsbl) {
        text-shadow: none;
    }
}
