.footer {
  background-color: $light-gray;
  padding: 80px 0 52px;
  border-top: 1px solid $gray-blue;

  @include media(lg) {
    padding: 41px 16px 52px;
  }

  .wrapper {
    max-width: 1103px;
    padding-left: 20px;

    @include media(lg) {
      flex-direction: column;
      padding: 0;
      align-items: start;
    }
  }

  .column {
    padding-left: 10px;

    @include media(lg) {
      padding: 0;
    }
  }

  .content {
    padding-top: 7px;
    min-width: 232px;

    @include media(lg) {
      padding-top: 6px;
    }

    &__two-pins {
      margin: 0 16px 0 -60px;
      @include media(lg) {
        margin: 0 16px 0 0;
      }
    }
  }

  .sapMText {
    color: $footer-text;
    font-size: 14px;
    line-height: 24px;
  }

  .links {
    @include media(lg) {
      margin: 32px 0 30px;
    }
  }

  .links-column {
    min-width: 200px;
    margin: 0 34px;

    @include media(lg) {
      min-width: 156px;
      margin: 0 16px 0 0;
    }
  }

  .title {
    margin-bottom: 10px;
    max-width: 200px;
    border-bottom: 2px solid $gray-blue;
    border-radius: 1px;

    @include media(lg) {
      max-width: none;
    }

    .sapMText {
      font-family: "Intro";
      font-weight: 700;
      color: $black;
      text-transform: uppercase;
      padding-bottom: 6px;
      letter-spacing: 1px;
    }
    &_lineless {
      border: 0;
    }
  }

  .link {
    background-color: transparent;
    border: 0;
    padding: 0;
    height: 32px;
    width: fit-content;

    .sapMSLITitleOnly {
      font-family: "Intro Book";
      font-size: 14px;
      color: $footer-text;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .phone {
    font-family: "Intro";
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: $black;
    margin-bottom: 24px;
  }

  &__icon {
    padding-top: 3px;
  }
  &__icon-text {
    padding-left: 12px;
  }

  .social {
    padding-top: 60px;
    max-width: 300px;

    .social-button + .social-button {
      margin-left: 24px;
    }

    @include media(lg) {
      max-width: 301px;
      padding: 28px 0 0 27px;
    }
  }

  //MADE BY

  .madeby {
    text-align: center;
    overflow: hidden;
    padding-top: 24px;

    @include media(lg) {
      flex-direction: column-reverse;
      padding-top: 44px;
    }

    &__line {
      display: inline-block;
      position: relative;
      margin-bottom: 14px;

      &.sapMText {
        font-family: "Intro";
        color: $gray-blue;
      }

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        height: 2px;
        background: $gray-blue;
      }

      &::before {
        right: 115%;
        left: -1015%;
      }

      &:after {
        left: 115%;
        right: -1015%;
      }
    }

    &__content {
      @include media(lg) {
        flex-direction: column-reverse;
      }
    }

    &__text {
      padding-top: 3px;

      &_left {
        padding-left: 14px;

        @include media(lg) {
          margin: 22px 0 25px;
        }
      }
      &_right {
        padding-left: 6px;

        @include media(lg) {
          padding: 0;
        }
      }
    }
  }
}
