.info {
  padding: 76px 0 89px;

  &__text {
    .text {
      &::after {
        content: url("../images/info/etc.svg");
        margin-left: 15px;
      }
      &:hover {
        &::after {
          cursor: pointer;
        }
      }
    }
  }
}
