.offer {
  position: relative;
  background-color: $light-gray;

  .content-wrapper {
    max-width: $container-width;
  }

  .left {
    margin: 59px 0 72px 103px;
    z-index: 2;

    &__text {
      margin-top: 36px;
    }

    &__link {
      margin-top: 31px;

      &::after {
        content: url("../images/offer/gt.svg");
        padding-left: 8px;
      }
    }

    .text_h3 {
      margin-top: 79px;
    }

    &__video {
      margin-top: 23px;
    }
  }

  .right {
    margin: 36px 32px 32px 0;
    z-index: 2;
    .track {
      padding: 25px 0 32px 40px;
      background-color: $yellow;
      border-radius: 8px;

      &__search {
        margin-top: 7px;
      }
    }
  }

  &__graphic {
    position: absolute;
    left: -313px;
    bottom: 0;
    z-index: 1;
  }

  .form {
    margin-bottom: 72px;
  }

  .blank {
    background-color: $gray;
  }
}
