.partners {
  max-width: $container-width;

  padding: 72px 0 41px;

  @include media(md) {
    padding: 48px 0 44px;
  }

  &-slider {
    margin-top: 33px;

    @include media(xl, md) {
      height: 0;
    }

    .slick-slide {
      display: flex;
      background: $white;
    }

    .slick-track {
      width: 1000px;
    }

    .slick-current {
      .partners-slider__logo {
        mix-blend-mode: normal;
        opacity: 100%;
      }
    }

    &__logo {
      height: auto;

      mix-blend-mode: luminosity;
      opacity: 10%;
    }
  }

  .collaborate {
    align-self: end;
    margin-right: 288px;

    @include media(md) {
      margin: 43px 0 0;
      align-self: auto;
    }

    &__button {
      position: absolute;
      top: -48px;
      width: 184px;
      justify-content: center;

      @include media(md) {
        position: relative;
        top: auto;
        width: 328px;
      }

      .sapMBtnInner {
        background-color: $white;
        border: 1px solid $another-gray;
        color: $black;
        justify-content: left;
        padding-left: 18px;

        @include media(md) {
          justify-content: center;
        }
      }

      &.sapMBtn:hover > .sapMBtnHoverable {
        background-color: $white;
        border-color: $light-another-gray;
        color: $button-hover;
      }

      &.sapMBtn:hover:not(.sapMBtnDisabled):not(.sapMSBActive)
        > .sapMBtnHoverable:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnTransparent).sapMBtnDefault {
        color: $button-hover;
      }
    }
  }

  .logos {
    padding-top: 80px;
    margin-left: -43px;
    justify-content: space-between;

    .monochrome {
      background: $white;
    }

    &__logo {
      mix-blend-mode: luminosity;
      opacity: 10%;

      &:hover {
        mix-blend-mode: normal;
        opacity: 100%;
      }
    }
  }
}
