.payment {
  padding: 91px 0 92px;

  .slider {
    margin-top: 52px;

    .slick-slide {
      display: flex;
      justify-content: center;
    }

    .button {
      background: none;
      border: 0;
      cursor: pointer;

      &_left {
        margin-right: 0;
      }

      &_right {
        margin-left: 0;
      }
    }
  }
}
