.tool-page {
  $_content-width: 1366px;
  width: 100%;
  margin: 0 auto;
  $_header-height: 80px;

  height: 100%;

  .sapTntToolPageMainContentWrapper{
    display: flex;
    flex-direction: column;
  }

  .main-content{
    flex: 1 0 auto;
  }

  .sapTntToolPageHeader {
    height: $_header-height;
  }

  .sapMIBar {
    &.sapMTB {
      .sapMBarChild:first-child[style*="width: 100%"] {
        padding: 0;
      }
    }

    .sapMBarChild:last-child {
      margin-right: 0;
    }
  }

  .sapMTB {
    padding-right: 0;
  }

  .header {
    $_header-height: 80px;
    justify-content: center;

    .wrapper {
      height: $_header-height;
      max-width: $_content-width;
      padding: 0;
    }
    .subwrapper {
      height: $_header-height;
      padding: 0 32px;
      .sapMFlexItem {
        height: 64px;
        display: contents;
      }
    }
    &.sapContrast {
      &.sapTntToolHeader {
        &.sapMTB {
          border: 0;
          height: $_header-height;
          padding: 0;
          background-color: $white;
          justify-content: center;
        }
      }
    }

    &.sapMIBar {
      &.sapMTB {
        .sapMBarChild {
          margin: 0;
        }
      }
    }

    &__logo {
      &:hover {
        cursor: pointer;
      }
    }

    
    &__link {
      padding-bottom: 2px;
      margin: auto 18px;
      
      &.sapMLnk {
        position: relative;
        
        &:hover:not(.sapMLnkDsbl) {
          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            border-bottom: 1px dashed $link-dashes;
            opacity: 70%;
          }
        }
      }
      &_pin {
        &::before {
          display: inline-block;
          content: url(../images/pin.svg);
          margin-right: 10px;
          padding-bottom: 0;
          width: 12px;
          height: 16px;
        }
      }
    }

    &__search {
      margin-right: 40px;

      &:not(.sapMSFDisabled) > .sapMSFF:hover {
        border-color: $gray;
        background-color: #{$gray}10;
      }

      //Search
      .sapMSFS {
        &::after {
          display: block;
          content: url(../images/search.svg);
          margin: 0 auto;
        }
      }
    }

    &__login {
      margin-left: 14px;

      &.sapMBtn:hover > .sapMBtnHoverable {
        background-color: $blue-link-hover;
      }
    }
  }
}
