.tool-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .sapTntToolPageMainContentWrapper {
    display: flex;
    flex-direction: column;
  }

  .main-content {
    overflow: auto;
    position: relative;
  }

  .sapMIBar {
    &.sapMTB {
      .sapMBarChild:first-child[style*="width: 100%"] {
        padding: 0 32px;
      }
    }
  }

  //Header
  .header {
    justify-content: center;
    position: relative;
    overflow: visible;

    .wrapper {
      display: none;
      max-width: $container-width;
    }
    .subwrapper {
      .sapMFlexItem {
        height: 64px;
        display: contents;
      }
    }
    &.sapContrast {
      &.sapTntToolHeader {
        &.sapMTB {
          border: 0;
          border-bottom: 1px solid $gray-blue;
          padding: 0;
          height: fit-content;
          background-color: $light-gray;
          justify-content: center;
        }
      }
    }

    &.sapMIBar {
      &.sapMTB {
        .sapMBarChild {
          margin: 0;
        }
      }
    }

    &__logo {
      .pin {
        &_blue,
        &_yellow {
          transition: 0.3s all;
        }
      }
      &:hover {
        cursor: pointer;
        .pin {
          &_blue {
            transform: translate(28px, -12px);
            fill: $yellow;
          }
          &_yellow {
            transform: translate(-28px, 12px);
            fill: $blue;
          }
        }
      }
    }

    &__link {
      padding-bottom: 2px;
      margin: auto 18px;

      &.sapMLnk {
        position: relative;

        &:hover:not(.sapMLnkDsbl) {
          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            border-bottom: 1px dashed $link-dashes;
            opacity: 70%;
          }
        }
      }
      &_pin {
        &::before {
          display: inline-block;
          content: url("../images/header/pin.svg");
          margin-right: 10px;
          padding-bottom: 0;
          width: 12px;
          height: 16px;
        }
      }
    }

    &__search {
      margin-right: 40px;

      &:not(.sapMSFDisabled) > .sapMSFF:hover {
        border-color: $gray;
        background-color: #{$gray}10;
      }

      //Search
      .sapMSFS {
        &::after {
          display: block;
          content: url(../images/header/search.svg);
          margin: 0 auto;
        }
      }
    }

    &__login {
      margin-left: 14px;

      &.sapMBtn:hover > .sapMBtnHoverable {
        background-color: $blue-link-hover;
      }
    }

    //Header адаптива
    &-small {
      padding: 0 16px;

      .sapMImg {
        cursor: pointer;
      }
    }
  }

  //Меню адаптива
  .menu {
    position: absolute;
    right: 0;
    top: 0;
    background: $white;
    padding-bottom: 32px;

    &-header {
      padding: 3px 11px 0 15px;

      &__link {
        @extend .header__link;
        padding-top: 5px;

        &_pin {
          @extend .header__link_pin;
          &::before{
            margin-right: 18px;
          }
        }
      }
    }
 
    &__menu-btn {
      cursor: pointer;
    }

    &__subwrapper {
      padding: 0 16px;
    }
    
    &__search {
      margin: 20px 0 25px;
      .sapMSFF {
        ::placeholder {
          padding-left: 4px;
          font-size: 16px;
        }
      }
    }

    .link {
      margin: 12px 0 11px;
    }

    &__button {
      height: 48px;
      padding: 0;

      .sapMBtnInner{
        height: 48px;
        font-size: 18px;
      }
    }
  }

  //Разделитель на странице в виде линии с посылкой
  .parcel {
    margin-top: -12px;
    &-line {
      display: inline-block;
      position: relative;

      &::before,
      &::after {
        content: "";
        position: absolute;
        top: 35%;
        height: 2px;
        background: $gray-blue;
      }

      &::before {
        right: 200%;
        left: -2090%;
      }

      &:after {
        left: 200%;
        right: -2090%;
      }
    }
  }
}
