.tool-page {
  width: 100%;
  height: 100%;
  margin: 0 auto;

  .sapTntToolPageHeader {
    height: fit-content;
  }

  .sapMIBar {
    &.sapMTB {
      .sapMBarChild:first-child[style*="width: 100%"] {
        padding: 0 32px;
      }
    }
  }

  //Header
  .header {
    justify-content: end;
    position: relative;
    overflow: visible;

    .wrapper {
      max-width: $container-width;
      padding: 0 32px;
    }

    &.sapContrast {
      &.sapTntToolHeader {
        &.sapMTB {
          border: 0;
          border-bottom: 1px solid $gray-blue;
          padding: 0;
          height: fit-content;
          background-color: $light-gray;
        }
      }
    }

    &.sapMIBar {
      &.sapMTB {
        .sapMBarChild {
          margin: 0;
        }
      }
    }

    &__logo {
      padding-top: 4px;
      .pin {
        &_blue,
        &_yellow {
          transition: 0.3s all;
        }
      }
      &:hover {
        cursor: pointer;
        .pin {
          &_blue {
            transform: translate(28px, -12px);
            fill: $yellow;
          }
          &_yellow {
            transform: translate(-28px, 12px);
            fill: $blue;
          }
        }
      }
    }

    &__link {
      padding-bottom: 2px;
      margin: auto 18px;

      &.sapMLnk {
        position: relative;

        &:hover:not(.sapMLnkDsbl) {
          &::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            border-bottom: 1px dashed $link-dashes;
            opacity: 70%;
          }
        }
      }
    }

    &__city {
      height: 32px;
      border: 0;
      margin: 0 0 8px;
      background: transparent;

      .sapMSelectListItemText {
        font-size: 16px;
        line-height: 24px;
      }

      &.sapMSltHoverable:not(.sapMSltState):not(.sapMSltIconOnly):hover {
        border: 0;
        background: transparent;

        .sapMSelectListItemText {
          border-bottom: 1px dashed $link-dashes;
        }
      }
      .sapMSltLabel {
        padding: 0 0 0 22px;
        color: $text-color;
      }

      .sapMSltArrow {
        display: none;
      }

      &::before {
        display: inline-block;
        content: url("../images/header/pin.svg");
        padding-top: 8px;
        width: 12px;
        height: 16px;
      }
    }

    &__search {
      margin: 0 35px 2px 0;

      &:not(.sapMSFDisabled) > .sapMSFF:hover {
        border-color: $gray;
        background-color: #{$gray}10;
      }

      .sapMSFF {
        ::placeholder {
          font-size: 14px;
        }
      }

      //Search
      .sapMSFS {
        &::after {
          display: block;
          content: url(../images/header/search.svg);
          margin: 0 auto;
        }
      }
    }

    &__login {
      margin-left: 14px;

      &.sapMBtn:hover > .sapMBtnHoverable {
        background-color: $blue-link-hover;
      }
    }

    //Header адаптива
    &-small {
      padding: 3px 16px 0;

      &__logo {
        margin-left: -12px;
      }

      .sapMImg {
        cursor: pointer;
      }
    }
  }

  .screen-wrapper {
    position: absolute;
  }
  //tap-box
  .tap-box {
    position: absolute;
    right: $side-menu-width;
  }

  //Меню адаптива
  .side-menu {
    position: absolute;
    top: 0;
    right: -$side-menu-width;
    background: $white;
    padding-bottom: 32px;
    transition: 0.5s all;

    &_closed {
      right: -$side-menu-width;
    }
    &_opened {
      right: 0;
    }

    &-header {
      padding: 3px 11px 0 15px;

      &__city {
        @extend .header__city;

        padding-top: 4px;

        .sapMSltLabel {
          padding: 0 0 0 29px;
          color: $text-color;
        }
      }
    }

    &__menu-btn {
      cursor: pointer;
    }

    &__subwrapper {
      padding: 0 16px;
    }

    &__search {
      margin: 20px 0 25px;
      .sapMSFF {
        ::placeholder {
          padding-left: 4px;
          font-size: 16px;
        }
      }
    }

    .link {
      margin: 12px 0 11px;
    }

    &__button {
      height: 48px;
      padding: 0;

      .sapMBtnInner {
        height: 48px;
        font-size: 18px;
      }
    }
  }

  .parcel {
    max-width: $container-width;
    border-bottom: 2px solid $gray-blue;

    &__image {
      background-color: $white;
      margin-bottom: -18px;
      padding: 0 34px;
    }
  }
}
