.what-we-do {
  max-width: $container-width;

  border-radius: 250px 0 0 250px;
  background: linear-gradient(to right, $darker-light-gray, $light-gray);

  padding-top: 67px;
  padding-bottom: 105px;

  &__bgimage {
    position: absolute;
    right: 0;
    top: -12%;
  }

  .text_h4 {
    padding-top: 30px;
    margin-left: -16px;
  }

  .pads {
    padding-top: 42px;
    margin-left: -2px;
  }

  .pad {
    width: 300px;
    height: 236px;

    margin: 0 25px;
    padding-bottom: 8px;

    .link {
      padding-left: 8px;
      margin-bottom: -6px;
    }
  }

  &__button {
    padding-top: 33px;
    width: 296px;
    .sapMBtnInner {
      height: 48px;

      background-color: $yellow;
      color: $black;

      font-family: "Intro";
      font-size: 18px;
    }

    &.sapMBtn:hover > .sapMBtnHoverable {
      background-color: $yellow;
      border: 0;
      color: $white;
    }

    &.sapMBtn:hover:not(.sapMBtnDisabled):not(.sapMSBActive)
      > .sapMBtnHoverable:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnTransparent).sapMBtnDefault {
      color: $white;
    }
  }
}
