.what-we-do {
  max-width: $container-width;
  width: 100%;

  border-radius: 250px 0 0 250px;
  background: linear-gradient(to right, $darker-light-gray, $light-gray);

  padding-top: 62px;
  padding-bottom: 81px;

  &_bgimage {
    position: absolute;
    right: 0;
    top: -12%;
  }

  .text_h4{
    margin-left: -16px;
  }

  &_pads {
    //max-width: 1054px;
    margin-top: 15px;
    margin-left: -2px;
  }

  &_pad {
    width: 300px;
    height: 236px;

    margin: 0 25px;
    padding-bottom: 8px;

    .link{
        padding-left: 8px;
        margin-bottom: -6px;
    }
  }

  &_button {
      width: 296px;
      .sapMBtnInner {
        height: 48px;

        background-color: $yellow;
        color: $black;

        font-family: "Intro";
        font-size: 18px;
      }
  
      &.sapMBtn:hover > .sapMBtnHoverable {
        background-color: $yellow;
        border: 0;
        color: $white;
      }
  
      &.sapMBtn:hover:not(.sapMBtnDisabled):not(.sapMSBActive)
        > .sapMBtnHoverable:not(.sapMBtnDisabled):not(.sapMBtnActive):not(.sapMToggleBtnPressed):not(.sapMBtnTransparent).sapMBtnDefault {
        color: $white;
      }
  }
}
