.info {
  max-width: $container-width;
  width: 100%;

  &__text {
    max-width: 1160px;
    padding-top: 76px;

    .text {
      &::after {
        content: url("../images/info/etc.svg");
        margin-left: 15px;
      }
      &:hover {
        &::after {
          cursor: pointer;
        }
      }
      
    }
  }
}
