//GLOBAL COLORS
$black: #1d253c;
$white: #ffffff;
$light-gray: #f8faff;
$gray-blue: #c2d2f4;
$yellow: #ffdd2d;
$blue: #2b6bf3;
$pink: #fd466e;
$light-green: #6fcf97;
$green: #27ae60;

//ADDITIONAL COLORS
$dark-blue: #1252db;
$gray: #818592;
$darker-light-gray: #f2f6ff;
$another-gray: #dde7fd;
$light-another-gray: #f6f9ff;
$yet-another-gray: #d7dff2;

//GLOBAL WIDTH
$container-width: 1366px;

//TEXT VARIABLES
$text-color: #666666;
$text-gray: #9396a1;
$link-hover: #9b9b9b;
$button-hover: #9ca0aa;
$link-dashes: #d4def4;
$footer-text: #7d8392;
$blue-link-hover: #6b98f7;
