//GLOBAL COLORS
$black:         #1d253c;
$white:         #ffffff;
$light-gray:    #f8faff;
$gray-blue:     #c2d2f4;
$gray:          #818592;
$another-gray:  #DDE7FD;
$light-another-gray: #F6F9FF;
$yet-another-gray: #D7DFF2;
$yellow:        #ffdd2d;
$blue:          #2b6bf3;
$dark-blue:     #1252db;
$pink:          #fd466e;
$light-green:   #6fcf97;
$green:         #27ae60;

//GLOBAL WIDTH
$container-width: 1366px;

//TEXT VARIABLES
$text-color:    #666666;
$text-gray:     #9396A1;
$link-hover:    #9B9B9B;
$button-hover:  #9CA0AA;
$link-dashes:   #d4def4;
$footer-text:   #7D8392;
$blue-link-hover: #6b98f7;
