//GLOBAL COLORS
$black:         #1d253c;
$plain-white:   #ffffff;
$white:         #f8faff;
$light-gray:    #f1f4fc;
$gray-blue:     #c2d2f4;
$gray:          #818592;
$yellow:        #ffdd2d;
$blue:          #2b6bf3;
$dark-blue:     #1252db;
$pink:          #fd466e;
$light-green:   #6fcf97;
$green:         #27ae60;

//GLOBAL WIDTH
$container-width: 1366px;

//TEXT VARIABLES
$text-color:    #666666;
$link-hover:    #949494;
$link-dashes:   #d4def4;
$footer-text:   #7D8392;
$blue-link-hover: #6b98f7;
$placeholder: $gray;
